.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';

    background-color: var(--color-light--background);
}

/* DESIGN: Prefer fluid responsiveness over snappy breakpoints. */
.header {
    grid-area: header;
    padding-inline: clamp(1rem, 5cqi, 3rem);
    padding-block: 2rem;
    overflow: hidden;

    /* background-color: pink; */
}

.main {
    grid-area: main;
    padding-inline: clamp(1rem, 10cqi, 20rem);
    padding-block: 2rem;
    overflow: hidden;

    /* background-color: cyan; */
}

.footer {
    grid-area: footer;
    padding-inline: clamp(1rem, 5cqi, 3rem);
    padding-block: 2rem;
    overflow: hidden;

    /* background-color: rgb(217, 255, 0); */
}
