.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';

    background-color: var(--color-background);
}

.header-layout {
    grid-area: header;
    padding-inline: clamp(2rem, 5cqi, 5rem);
    overflow: hidden;
    backdrop-filter: blur(25px);
    border-bottom: solid var(--color-text) 1px;
    position: sticky;
    top: 0;
}

.main {
    grid-area: main;
    padding-inline: clamp(2rem, 10cqi, 20rem);
    padding-block: 2rem;
    overflow: hidden;

    /* background-color: cyan; */
}

.footer-layout {
    grid-area: footer;
    padding-inline: clamp(2rem, 5cqi, 5rem);
    overflow: hidden;
    border-top: solid 1px var(--color-medium-grey);
    background-color: var(--color-light-grey);

    /* background-color: rgb(217, 255, 0); */
}
